    {% extends "layout.html" %}
   
    {% block content %}
    
    <div class="container">
         <form name="login" action="" method="post" novalidate>
        <fieldset class="form-group">
            <legend>{{title}}</legend>     
            {{ form.hidden_tag() }}       
                <p> {{ form.uname.label }}</br>
                    {{ form.uname }}
                    {% for error in form.uname.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.ID_2fa.label }}</br>
                    {{ form.ID_2fa }}
                    {% for error in form.ID_2fa.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>

                <p> {{ form.pword.label }}</br>
                    {{ form.pword }}
                    {% for error in form.pword.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.password_confirm.label }}</br>
                    {{ form.password_confirm }}
                    {% for error in form.password_confirm.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
          
                <p> 
                    {{ form.submit() }}
                </p>

           <legend>{{success}}</legend>   
            
        </fieldset>
        </form>
    </div>
    {% endblock %}
    